<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><marquee>This is HTML Page1</marquee></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Ad illum iure totam accusamus, ducimus quibusdam similique,
         cumque consequatur fugiat odit vero dolorem laudantium. Consequuntur 
         doloremque repellat quia odio consequatur explicabo?</p>
</body>
</html>